<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td class="subheader">
            Assets Under Management
        </td>
    </tr>
    <tr>
        <td class="body-text body-content">
            <table cellpadding="0" cellspacing="0" width="100%" class="assets-table">
                <tr>
                    <td>International Equity</td>
                    <td>$9.8B</td>
                </tr>
                <tr>
                    <td>International Equity ADR</td>
                    <td>$314.5M</td>
                </tr>
                <tr>
                    <td>Emerging Markets Equity</td>
                    <td>$12.9M</td>
                </tr>
                <tr>
                    <td>Global Equity</td>
                    <td>$8.3M</td>
                </tr>
                <tr>
                    <td>Equity Opportunity</td>
                    <td>$8.3M</td>
                </tr>
                <tr>
                    <td>Mid Cap Equity</td>
                    <td>$4.5B</td>
                </tr>
                <tr>
                    <td>Small Cap Equity</td>
                    <td>$276.1M</td>
                </tr>
                <tr class="total">
                    <td>Equity</td>
                    <td>$14.9B</td>
                </tr>
            </table>
        </td>
    </tr>
</table>