<table cellpadding="0" cellspacing="0" width="100%">
    <tr valign="top" style="vertical-align: top;">
        <td width="50%" class="col-left">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="subheader">
                        Reems Market Outlook
                    </td>
                </tr>
                <tr>
                    <td class="body-text body-content">
                        Lorem ipsum dolor sit amet, phaedrum accusamus id est. 
                        Vel utroque instructior ei, eam quando graeci eu. 
                        Ex adhuc invenire his, ut his delicata dissentiet. 
                        <br /><br />
                        Nam modo tacimates intellegat at, falli debitis mea id. 
                        
                    </td>
                </tr>
            </table>
        </td>
        <td width="50%" class="col-right">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="subheader">
                        Composite Performance
                    </td>
                </tr>
                <tr>
                    <td class="body-text body-content">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td><img src="http://placehold.it/170x130" alt="" width="170" height="130" /></td>
                            </tr>
                            <tr>
                                <td class="body-text"><a href="#" class="link">Click here to view composite performance &rsaquo;</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
