<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td class="subheader">
            Equity Market Review
        </td>
    </tr>
    <tr>
        <td class="body-text body-content">
            Lorem ipsum dolor sit amet, phaedrum accusamus id est. Vel utroque instructior ei, eam quando graeci eu. Ex adhuc invenire his, ut his delicata dissentiet. Nam modo tacimates intellegat at, falli debitis mea id. Ex mei propriae senserit expetenda, accusam vituperata adversarium vim eu, ius ut illum ceteros. Nam aliquip utroque platonem in, vim ne tollit fabulas referrentur.
        </td>
    </tr>
</table>