<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td class="subheader">
            Q2 2014 Composite Strategy Highlights
        </td>
    </tr>
    <tr>
        <td class="body-text body-content">
            <table cellpadding="0" cellspacing="0" class="highlights-table">
                <tr><td><a href="#">Reams Unconstrained</a></td><td><img src="http://image.exct.net/lib/fe621570726c05787711/m/1/icon-pdf.png" alt="" width="17" height="18" /></td></tr>
            </table>
            <table cellpadding="0" cellspacing="0" class="highlights-table">
                <tr><td><a href="#">Reams Core </a></td><td><img src="http://image.exct.net/lib/fe621570726c05787711/m/1/icon-pdf.png" alt="" width="17" height="18" /></td></tr>
            </table>
            <table cellpadding="0" cellspacing="0" class="highlights-table">
                <tr><td><a href="#">Reams Low Duration</a></td><td><img src="http://image.exct.net/lib/fe621570726c05787711/m/1/icon-pdf.png" alt="" width="17" height="18" /></td></tr>
            </table>
            <table cellpadding="0" cellspacing="0" class="highlights-table">
                <tr><td><a href="#">Reams Intermediate</a></td><td><img src="http://image.exct.net/lib/fe621570726c05787711/m/1/icon-pdf.png" alt="" width="17" height="18" /></td></tr>
            </table>
            <table cellpadding="0" cellspacing="0" class="highlights-table">
                <tr><td><a href="#">Reams Long Duration</a></td><td><img src="http://image.exct.net/lib/fe621570726c05787711/m/1/icon-pdf.png" alt="" width="17" height="18" /></td></tr>
            </table>
            <table cellpadding="0" cellspacing="0" class="highlights-table">
                <tr><td><a href="#">Reams Core Plus</a></td><td><img src="http://image.exct.net/lib/fe621570726c05787711/m/1/icon-pdf.png" alt="" width="17" height="18" /></td></tr>
            </table>

        </td>
    </tr>
</table>