<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td class="body-text body-content">
            <strong>Disclosures</strong><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et eros aliquet, commodo velit fringilla, porta diam. Vestibulum sed diam quam. Mauris mi mauris, feugiat sed elit quis, interdum mollis lacus. Praesent sit amet scelerisque ipsum. Proin quis lectus ac magna varius euismod. Cras viverra lobortis ipsum, a porta nunc porttitor in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et eros aliquet, commodo velit fringilla, porta diam. Vestibulum sed diam quam. Mauris mi mauris, feugiat sed elit quis, interdum mollis lacus. Praesent sit amet scelerisque ipsum. Proin quis lectus ac magna varius euismod. Cras viverra lobortis ipsum, a porta nunc porttitor in.
            <br><br>
            In dapibus, lacus at accumsan malesuada, sem mi mattis nulla, vel tempor lorem diam at nibh. Maecenas pulvinar odio ut diam varius, at faucibus orci euismod. Praesent nec magna tellus. Etiam interdum, massa id sagittis rhoncus, arcu est porta dui, ac cursus orci sem non lorem. Mauris mi mauris, feugiat sed elit quis, interdum mollis lacus. Praesent sit amet scelerisque ipsum.
            <br><br><strong>FOR INSTITUTIONAL USE ONLY | NOT FOR PUBLIC USE</strong>
        </td>
    </tr>
</table>